@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

/* reset start */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset end */

body {
  font-family: 'Zen Loop', cursive;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  /* background-color: rgba(255, 255, 255, .1); */
  background-color: #333;
}

.nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav__brand {
  color: #fff;
}

.nav__list {
  display: flex;
}

.nav__list--item+.nav__list--item {
  margin-left: 1rem;
}

.nav__list--item--active {
  padding-bottom: .25rem;
  border-bottom: 1px solid #fff;
}

.nav__search {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__brand,
  .nav__list--item {
    font-size: 1.25rem;
  }

  .nav__list--item,
  .nav__search--label {
    cursor: pointer;
  }

  .nav__search {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav__search--label {
    z-index: 9;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #fff;
    background-image: url('./images/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  #nav__search--input {
    height: 36px;
    position: absolute;
    right: 0;
    border: 0;
    text-indent: 1rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: .2s .5s;
  }

  .nav__search--label:hover~#nav__search--input {
    transform: scaleX(1);
  }

  #nav__search--input:focus {
    transform: scaleX(1);
  }
}