@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$card--bg-color: #222;
$text-highlight-color: #aa99ee;

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #666;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__item {
  width: 250px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2rem auto;
  padding: 0 2rem;
}

@for $i from 1 through 3 {
  .container__item--#{$i} {
    background: linear-gradient(185deg, transparent 0% 39.75%, $card--bg-color 40% 100%),
    url('https://picsum.photos/seed/#{$i}1/400/300');
  }
}

.container__item--avatar {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 25%;
  left: 10%;
  border-radius: 50%;
  box-shadow: 0 0 6px $card--bg-color;
}

.container__item--name,
.container__item--account,
.container__item--description,
.container__item--footer {
  margin-bottom: 1rem;
}

.container__item--name {
  font-size: 1.5rem;
}

.container__item--account {
  color: $text-highlight-color;
}

.container__item--description {
  font-size: .75rem;
  line-height: 1.25rem;
}

.container__item--footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__item--footer--button {
  height: 36px;
  padding: 0 2rem;
  border: 1px solid #FFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFF;
  text-transform: uppercase;
}

.container__item--footer--follow {
  border-color: $text-highlight-color;
  color: $text-highlight-color;
}

@media screen and (min-width: 920px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }
}