@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  width: 100%;
  height: 100vh;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

.profile-card {
  width: 300px;
  // height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.profile-card__nav {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card__nav--left,
.profile-card__nav--right {
  margin: 0 1rem;
}

.profile-card__nav--right i+i {
  margin-left: 1rem;
}

.profile-card__avatar {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card__avatar--image {
  height: 84px;
  border-radius: 50%;
}

.profile-card__name,
.profile-card__title,
.profile-card__description {
  text-align: center;
}

.profile-card__name {
  margin: .5rem auto;
  font-size: 2rem;
}

.profile-card__title,
.profile-card__description {
  margin-bottom: 1rem;;
  font-size: .8rem;
}

.profile-card__description {
  width: 75%;
  line-height: 1rem;
}

.profile-card__buttons {
  height: 60px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
}

.profile-card__buttons--contact {
  height: 48px;
  margin-bottom: 1rem;
  padding: 0 2rem;
  border: none;
  border-radius: 24px;
  text-transform: uppercase;
}

.profile-card__social-media {
  width: 90%;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card__social-media--item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card__social-media--item--icon-bg {
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 50%;
}

.profile-card__social-media--item--followers {
  position: relative;
}

.profile-card__social-media--item--followers::after {
  content: 'followers';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: .8rem;
}